pip>=20.3.1
setuptools>=47.3.1
wheel>=0.34.2
pytest>=5.4.3
pytest-cov>=2.10.0
Sphinx>=s3.1.2
sphinx-rtd-theme>=0.5.0
pandas>=1.0.5
recommonmark>=0.6.0
PyCrowdTangle>=0.5.0
tqdm>=4.47.0
networkx>=2.4
python-louvain>=0.14
#rpy2>=3.4.4
pyarrow>=4.0.0
twine>=3.4.1
tldextract>=3.1.0
dask
